@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Roboto&display=swap');

:root {
    --title-size: 2.5rem;
    --major-padding: 2.5rem;
    --major-margin: 2.5rem;
    --header-color : #404040;
}

/*Reset */

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

a, a:visited {
    text-decoration: none;
    color: black;
}

 body {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
 }

 p {
    font-size: 1rem;
 }


 /* Utility Classes */

h1,h2 {
    padding-bottom: 1rem;
}

 h1 {
    font-size: var(--title-size);
 }

h2 {
    padding: 0.5rem 0;
}

 header {
    background-color: var(--header-color);
    padding: var(--major-padding);
    padding-top: 1rem;
    line-height: 3rem;
    position: relative;

 }



 /* Twitter link */
 .my-twitter-link {
    text-align: end;
    font-size: small;
 }

 .follow-link {
    border: 1px solid blue;
    border-radius: 15px;
    background-color: blue;

    color:white;
    padding: 0.5rem;
 }


 /* Title */

 .title {
    margin: 0 auto;
    padding: 2rem;
    color: white;
 }

 /* Navigation Bar */

nav {
    background-color: rgba(245, 245, 245, 0.593);
    width: 100%;
    padding: 0 4rem;
    bottom: 0;
    left:0;

    position: absolute;
}

 .options {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
 }

 .options > li {
    display:inline;
 }

 /* Main Section */

 section {
    margin: var(--major-margin) 3.5rem;

    display:grid;
    grid-template-columns: 50% 1fr 1fr;
    grid-template-areas: 
    "one one two"
    "three three three"
    "four five five"
    "six six seven"
    "eight nine ten"
    "eleven eleven eleven";
    gap: 2rem;
 }

  article {
    padding: 1rem;
    border-radius: 15px;
    border: 2px solid rgb(70, 70, 70);
    background-color: whitesmoke;
    min-height: 10rem;
 }

 section > article:nth-child(1) {
    grid-area: one;
    background-color: var(--header-color);
    color: white;
 }
 section > article:nth-child(2) {
    grid-area: two;
 }
 section > article:nth-child(3) {
    grid-area: three;
    background-color: rgb(199, 97, 199);
    color:white;
 }
 section > article:nth-child(4) {
    grid-area: four;
    position: relative;
 }

 .new-tag {
    position: absolute;
    transform: rotate(-45deg);
    top:0;
    left: -1rem;

    background-color: green;
    padding: 0.25rem;
    font-size: 1rem;
    color: white;
 }

 section > article:nth-child(5) {
    grid-area: five;
 }
 section > article:nth-child(6) {
    grid-area: six;
 }
 section > article:nth-child(7) {
    grid-area: seven;
 }
 section > article:nth-child(8) {
    grid-area: eight;
 }
 section > article:nth-child(9) {
    grid-area: nine;
 }
 section > article:nth-child(10) {
    grid-area: ten;
 }
 section > article:nth-child(11) {
    grid-area: eleven;
 }

/* Footer */

footer {
    background-color: var(--header-color);
    padding: var(--major-margin);
}

footer > div {
    background-color: whitesmoke;
    width: 95%;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 1rem;
}

.footer-bullet-points {
    padding-left: 40px;
}

.footer-ending {
    margin-top: 1rem;
}
